* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(to bottom, #3a6186, #000, #89253e);
}

.dashboard {
    display: grid;
    grid-template-columns: 250px 1fr;
    min-height: 100vh;
}

.sidebar {
    background: linear-gradient(to bottom, #141E30, #2a384b , #141E30);
    color: #fff;
    padding: 20px;
}

.profile span {
  color: #f7f6f3;   
  font-weight: bold;
}

.logo {
    text-align: center;
    margin-bottom: 30px;
}

.sidebar nav a {
    display: block;
    padding: 12px;
    color: #cbd5e1;
    text-decoration: none;
    margin-bottom: 8px;
    border-radius: 6px;
}

span.admin {
    font-size: 12px;
    color: #f3f6fa;
}

.sidebar nav a:hover,
.sidebar nav a.active {
    background: #6c80b1;
    color: white;
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.main {
    padding: 20px;
}


.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.profile {
    display: flex;
    align-items: center;
    background-size: cover;
    gap: 10px;
}
.profile img {
    width: 100px;  
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
    

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-bottom: 30px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}

.card h3 {
    color: #6b7280;
    font-size: 14px;
}

.card p {
    font-size: 28px;
    font-weight: bold;
    margin-top: 10px;
}



.table-section {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.table-section h2 {
    margin-bottom: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: left;
}

thead {
    background: #f1f5f9;
}

tbody tr:hover {
    background: #f9fafb;
}

.success {
    color: green;
}

.pending {
    color: orange;
}

.failed {
    color: red;
}
@media (max-width: 768px) {
    .dashboard {
        grid-template-columns: 1fr;
    }

    .sidebar {
        display: none;
    }
}
